.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: no-wrap;
}

main {
    margin: 1rem;
    min-width: 90%;
}

.chart-container {
    min-width: 100%;
    position: relative;
    padding-right: 2rem;
}

.message-user,
.settings {
    padding: 1rem 1rem 3rem 1rem;
    border-top: 1px solid $color-divider;
    border-right: 1px solid $color-divider;
}


