.wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: no-wrap;
}

main {
    margin: 1rem;
    min-width: 90%;
}

.chart-container {
    min-width: 100%;
    position: relative;
    padding-right: 2rem;
}

.new-members {
    border-top: 1px solid black;
    border-right: 1px solid black;
    border-bottom: 1px solid black;
    margin-top: 2rem;
}

.new-members .member {
    border-bottom: 1px solid black;
    padding: 1rem 0;
    width: 90%;
}

.new-members .member:last-child {
    border-bottom: none;
}
