.alert {
    background-color: $color-main;
    color: $color-text-secondary;
    min-width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    padding: 1rem;
}

.alert-message span:first-child,
.close {
    color: $color-text;
}

.alert-message span:nth-child(2) {
    margin-left: .5rem;
}

.close {
    cursor: pointer;
}

.hide {
    display: none;
}