.alert {
    background-color: #7478BA;
    color: #B2B4D8;
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-radius: .5rem;
    padding: 1rem;
}

.alert-message span:first-child,
.close {
    color: #ffffff;
}

.alert-message span:nth-child(2) {
    margin-left: .5rem;
}