form {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 1rem;
}

input,
textarea {
    margin-top: 1rem;
    padding: 1rem 0 1rem 1rem;
    border: 1px solid $color-divider;
    border-radius: .25rem;
    background-color: $color-background;
}

input::placeholder,
textarea::placeholder {
    color: $color-divider;
}

input[type="submit"] {
    width: 100%;
    color: $color-text;
    background-color: $color-main;
}

input[value="CANCEL"] {
    background-color: $color-text-dark;
    margin-left: 3rem;
}

.switch-toggle {
  position: absolute;
  margin-left: -9999px;
  visibility: hidden;
}
.switch-toggle + label {
  display: block;
  position: relative;
  cursor: pointer;
  outline: none;
  user-select: none;
}

input.switch-toggle-round + label {
  padding: 2px;
  width: 120px;
  height: 60px;
  background-color: #dddddd;
  border-radius: 60px;
}
input.switch-toggle-round + label:before{
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}

input.switch-toggle-round + label:after {
    display: block;
    position: absolute;
    top: 1px;
    left: 1px;
    bottom: 1px;
    content: "";
}
input.switch-toggle-round + label:before {
  right: 1px;
  background-color: #f1f1f1;
  border-radius: 60px;
  transition: background 0.4s;
}
input.switch-toggle-round + label:after {
  width: 58px;
  background-color: #fff;
  border-radius: 100%;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  transition: margin 0.4s;
}
input.switch-toggle-round:checked + label:before {
  background-color: $color-main;
}
input.switch-toggle-round:checked + label:after {
  margin-left: 60px;
}