form {
    display: flex;
    flex-direction: column;
    width: 95%;
    font-size: 1rem;
}

input,
textarea {
    margin-top: 1rem;
    padding: 1rem 0 1rem 1rem;
    border: 1px solid $color-divider;
    border-radius: .25rem;
    background-color: $color-background;
}

input::placeholder,
textarea::placeholder {
    color: $color-divider;
}

input[type="submit"] {
    width: 100%;
    color: $color-text;
    background-color: $color-main;
}

input[value="CANCEL"] {
    background-color: $color-text-dark;
    margin-left: 3rem;
}