.main-nav {
    background-color: $color-main-dark;
    width: 90px;
    > ul {
        list-style: none;
        padding: 1rem 1rem 1rem 0;
    }
}

.nav-item {
    width: 2rem;
    height: 2rem;
    fill: $color-text-dark;
}

.active {
    border-left: 2px solid $color-highlight;
}

.active .nav-item{
    fill: $color-text;
}