.main-nav {
    display: flex;
    flex-direction: column;
    background-color: #4D4D6F;
}

ul {
    list-style: none;
    padding: 1rem;
}

li {
    padding: 1em 0;
}

.nav-item {
    width: 2rem;
    height: 2rem;
    fill: #A6A6B7;
}

.active {
    fill: #ffffff;
}