.main-nav {
    background-color: $color-main-dark;
    display: flex;
    width: 100%;
    ul {
        list-style: none;
        display: flex;
        justify-content: space-between;
        align-content: center;
        
        .nav-item {
            flex-direction: row;
            fill: $color-text-dark;      
            width: 100%;

            &.active {
                border-bottom: 2px solid $color-highlight;
                fill: $color-text;
            }
        }
   }
}