.social-site {
    background: $color-module-background;
    border: 3px solid $color-border;
    border-radius: 5px;
    width: 33%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.social-site-logo-inner {
    fill: $color-module-background;
    background-color: $color-main;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.social-site-name {
    color:  $color-main;
}