.social-site {
    background: #FBFBFB;
    border: 3px solid #B2B4D8;
    border-radius: 5px;
    width: 33%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.social-site-logo-inner {
    fill: #ffffff;
    background-color: #7478BA;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    display: block;
}

.social-site-name {
    color:  #7478BA;
}