.social-site {
    background: #FBFBFB;
    border: 3px solid #B2B4D8;
    border-radius: 5px;
    width: 33%;
    display: flex;
    flex-direction: row;
    padding: 2rem;
}

.social-site-logo-outter {
    background-color:#7478BA;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 2rem;
}

.social-site-logo-inner {
    fill: #ffffff;
}

.social-site-name {
    color:  #7478BA;
}