$color-main:                #7377BF;
$color-main-dark:           #4D4C72;
$color-main-light:          #7477BF;
$color-main-extra-light:    #E2E3F6;

$color-highlight:           #85DB80;
$color-background:          #FBFBFB;
$color-module-background:   #FFFFFF;

$color-inactive:            #B2B2B2;
$color-divider:             #D2D2D2;
$color-profile-border:      #5D61BF;

$color-piechart-phones:     #74B1BF;
$color-piechart-tablets:    #81C98F;
$color-piechart-desktop:    #7377BF;